<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padcmyanmar.online_registration_system_admin">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterControlActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StudentListTableActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StudentListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SecondYearITActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StudentListDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PostControlActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FirstYearCivilMajorApplyActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.FirstYearArchiMajorApplyActivity" />
        <activity android:name=".activities.FirstYearECMajorApplyActivity" />
        <activity android:name=".activities.FirstYearMPMajorApplyActivity" />
        <activity android:name=".activities.FirstYearMCMajorApplyActivity" />
        <activity android:name=".activities.FirstYearITMajorApplyActivity" />
        <activity android:name=".activities.FirstYearEPMajorApplyActivity" />
        <activity android:name=".activities.MajorDivisionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>